*
{
	margin:0;
	padding:0;
}
body{
	background:url("background.jpg") no-repeat 0 0 fixed;
	height: 100%;
	background-position: fixed;
	background-size: cover;
}
.rows{
	
}
#navbar{
	list-style: none;
	float:right;
	margin-top:40px;
	margin-right:15px;
	position:;
}

#navbar li{
	display:inline-block;
}
#navbar li a{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Robotto", sans-serif;
	font-size: 15px;
	margin-right: 15px;
	font-weight: bold;
	border: 1px solid transparent;
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    -webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}
#navbar li.active a{
	border:1px solid white;
}
#navbar li a:hover{
	border:1px solid white;
	background-color: white;
	color: brown;
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    -webkit-transition: border 1s; /* Safari */
    transition: border 1s;
}
.logo{
	float:left;
	margin-left:50px;
	margin-top:10px;
}
#grow:hover{
	  -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
h1{
	font-family:Comfortaa;
	font-weight:bold;
	margin-left:20px;
	font-size:50px;
	padding-top:300px;
	padding-left:440px;
	color:white;
}
#h_v1{
	margin-top:20px;
	color:white;
	margin-left:380px;
	font-family: Comfortaa;
	font-size:50px;
}
.button{
	margin-top:50px;
	margin-left:460px;
}
.btn{
	border:2px;
	border-radius: 25px;
	border-style: outset;
	border-color:gray;
	padding: 15px 15px;
	margin-left: 70px;
	text-decoration: none;
	font-size:20px;
	font-family: Verdana;
	font-weight: italic;
	color:black;
	-webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
}
.btn:hover{
	background-color:maroon;
	-webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
	opacity: 0.8;
}
.slider{
	opacity: 1;
}
slide{
	color:white;
}

slider{
	display: block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	margin-top: 300px;
}
slider > *{
	position:absolute;
	display:block;
	width: 100%;
	height: 100%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow:hidden;
}
slide:nth-child(1){
	left: 0%;
	animation-delay:-1s;
	background-color:orange;
	background-size:cover;
	background-position: center;

 }
 slide:nth-child(2){
 	animation-delay: 2s;
 	background-color:black;
 	background-size:cover;
 	background-position: center;
 }
 slide:nth-child(3){
 	animation-delay:5s;
 	background-color:blue;
 	background-size: cover;
 	background-position: center;
 }
 slide:nth-child(4){
 	left: 0%;
 	animation-delay: 8s;
 	background-color:gray;
 	background-size:cover;
 	background-position: center;
 }
 slide p{
 	font-family:Comfortaa;
 	text-align:center;
 	display: inline-block;
 	width:100%;
 	margin-top:100px;
 	color:#fff;
 }
 #login_txt{
 	color:white;
 	font-size: 40px;
 	margin-top: 850px;
 	margin-left: 120px;
 	position: absolute;
 }
 .btn_login{
 	margin-top: 1250px;
 }
 .form{
 	width: 50%;
 	height: 50%;
 	align-content: center;
 	margin-left: 400px;
 }
 form{
 	border: 3px solid #f1f1f1;
 	color:white;
 }
 input[type=text], input[type=password]{
 	width:100%;
 	padding:12px 20px;
 	margin:8px 0;
 	display: inline-block;
 	border:1px solid #ccc;
 	box-sizing: border-box;
 }
 button{
 	background-color: maroon;
 	color:white;
 	padding:10px 20px;
 	margin:2px 0;
 	border-radius: 25px solid black;
 	cursor: pointer;
 	width: 100%;
 }
 button:hover{
 	opacity: 0.8;
 }
 .cancelbtn{
 	width: auto;
 	padding:10px 18px;
 	background-color: black;
 }
 .imgcontainer{
 	text-align: center;
 	margin: 24px 0 12px 0;
 }
 img.avatar{
 	width: 20%;
 	border-radius: 50%;
 }
 #container{
 	padding:16px;
 	color:black;
 }
 span.password{
 	float:right;
 	padding-top:16px;
 }
 @media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 5px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0,0,0,0.4);
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

 .picture_1{
 	width:100%;
 	height: 100%;
 }
 .text_slides{
 	color:white; 
 	font-size:20px;
 }
 .footer_text{
 	color: white;
 	font-size:14px;
 	text-align:center;
 	margin-left:10px; 
 	margin-right:10px;
 }
 .footer_hr{
 	margin-left:100px;
 	margin-right: 100px;
 	color:gray;
 }
 .footer_contactnum{
 	color:white;
 	font-size:20px;
 	text-align:center;
 	font-family: Verdana;
 }
 .icons{
 	text-align:center;
 	padding:2px 2px;
 	width: 100%;
 }

 .img_footer{
 	height:30px;
 	padding-left:4px;
 	padding-right: 4px;
 	border: 2px solid black;
  	border-radius: 25px;
}
.img_footer:hover{
  	background-color:white;
	-webkit-transition: background-color 5s; /* Safari */
    transition: background-color 1s;
}
 
 .footer_copyright{
 	color:white;
 	text-align:center;
 	padding-top:6px;
 }
 .footer_terms{
 	color:white;
 	text-align:center;
 	padding-top:5px;
 }
 #logo1{
 	width:100%; 
 	height: 100%;
 }

 .footer{
 	padding-top: 100px;
	margin-top: 700px;
	background-size: 20%;
	background-color: black;
	position: relative;
	opacity: 0.8;
	
 }
 @keyframes slide{
 	0% { left:100%; width: 100%;}
 	5% { left:0%; }
 	25% {left:0%; }
 	30%  {left: -100%; width: 100%;}
 	30.0001% {left:-100%; width:0%;}
 	100% {left: 100%; width:0%;}

}
@-webkit-keyframes myanim {
  0%   { opacity: 0.0; }
  50%  { opacity: 0.5; }
  100% { opacity: 1.0; }
}
@keyframes myanim {
  0%   { opacity: 0.0; }
  50%  { opacity: 0.5; }
  100% { opacity: 1.0; }
}


@media screen and (min-width: 600px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div#navbar {
    font-size: 30px;
  }
  div#logo{
  	font-size:30px;
  }
   h1{
  	font-size:30px;
  }
  div#h_v1{
  	font-size:30px;
  }
  div.button{
  	font-size:30px;
  }
  div.btn{
  	font-size:30px;
  }
}
</style>